html{
  font-family: system-ui, sans-serif;
  background: var(--background);
}
.dec{
  font-family: "Lighthaus", serif;
}
header{
  height: var(--bar);
  z-index: +1;
}
header > div{
  display: flex;
  width: var(--width);
  margin: 0 auto;
  height: 100%;
}
h1{
  font-size: var(--size9);
}
h2{
  font-size: var(--size7);
}
h3{
  font-size: var(--size5);
}
.formal > span{
  display: block;
  font-size: 19px;
  margin: 0 0 18px 0;
}
footer{
  margin: 24px 0 0 0;
  background: #000000;
}
footer > div{
  color: #ffffff;
  opacity: 0.5;
  display: flex;
  gap: 24px;
  width: var(--width);
  margin: 0 auto;
  padding: 12px;
}

#other{
  width: var(--width);
  margin: 0 auto;
}
#other > .s{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 12px 18px 12px;
}
#other > .s a{
  border-radius: 24px;
}

@media (max-width: 100vh){
  footer{
    padding: 18px 0;
  }
  footer div{
    display: block;
  }
  /* header */
  header{
    padding: 12px 0;
    height: max-content;
  }
  header .brand{
    width: max-content;
    margin: 0 auto;
  }
  header nav a.target{
    filter: invert(1);
  }
  header > div{
    display: block;
  }
  /* footer */
  
  #other{
    padding: 0 24px;
  }
}